  .caixa-opcoes {
    width: 20vw;
    max-height: var(--tamanho-svgContainer);
    overflow: auto;
    height: fit-content;
    color: white;
    border-radius:10px;
    -webkit-box-shadow: 5px 5px 10px 3px rgb(0 0 0 / 8%);
  }
  
  #opcoes2 {
    display: none;
    width: calc(calc(var(--tamanho-svgContainer) / 2) - 2.5vw);
  }
  
  #logo {
    width: 100%;
    height: 100%;
    filter:opacity(0.08)
  }

  #opcoes3 {
    width: calc(calc(var(--tamanho-svgContainer) / 2) - 2.5vw);
  }

  
  #container-caixa-opcoes {
    display: flex;
    width: 100%;
    gap:5vw;

  }




  



  .caixa-opcoes-item {
    padding: 20px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    align-items: center;
  }
  
  .caixa-opcoes-item:nth-child(even) {
    background-color: rgba(0,0,0, 0.02);
  }
  
  .caixa-opcoes-item:nth-child(n+2):hover {
    background-color: rgba(0,0,0, 0.1);
    cursor: pointer;
  }

  .titulo {
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.05) !important;
    align-items: stretch;
  }
  
  .btntopico:hover {
    cursor:pointer;
  }
  
  .btntopico {
    padding: 0 0 0 10px;
  }
  
  

  
  .zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: 1; /* Para WebKit/Blink */
    animation-iteration-count: 1; /* Para outros navegadores */
  }
  @-webkit-keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3);
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3);
    }
    50% {
      opacity: 1;
    }
  }

  
  *::-webkit-scrollbar {
    height: 10px;
    width: 0.7vw;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #D6E0E2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #CAD3D5;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #757575;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #A3A3A3;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #6F6F6F;
  }

  .caixa-icones {
    display: flex;
    gap:1vw;
  }
  
  .divtitulo-caixa-opcoes {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    font-size: 2vw;
    align-items: center;
  }
  
  .titulo-caixa-opcoes {
    display: flex;
    gap: 0.8vw;
    align-items: center;
    font-weight: bold;
  }
  
  .topico-caixa-opcoes {
    font-size: 1.3vw;
    text-transform: capitalize;
    font-style: italic;
  }
  
  .item {
    font-size: 1.7vw;
  }